<%- include('header') %>

<form id="selectForm" action="/exchanging" method="GET">
    <select class="options" name="currencyExchange">
            <option value="selectCurrency">Select Currency</option>
            <option value="brlusd">BRL to USD</option>
            <option value="usdbrl">USD to BRL</option>
    </select>

    <div>
      <button type="submit">Start</button>
    </div>
</form>

<%- include('footer') %>
