<%- include ('header') %>

<form method="GET" action="/exchange">
    <div>
        <label>Exchange Rate</label>
        <input name="exchangeRate" type="number" placeholder="BRL/USD" value="<%= exchangeRateValue %>">
    </div>   
    <div>
        <label>Amount</label>
        <input name="amount" type="number" placeholder="USD 0.00">
    </div>
    <div class="button">
        <button type="submit" name="currencyExchange" value="usdbrl">Convert</button>
    </div>
</form>

<%- include ('footer') %>